<!DOCTYPE html>
<html lang="en">
  <head>
    <%= meta_tags %>
    <title><%= t('nyulibraries_errors.page_title') %> | <%= application_title %> <%= t('nyulibraries_errors.error') %></title>
    <%= stylesheet_link_tag 'nyulibraries_errors' %>
    <%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css', rel: :stylesheet, type: "text/css" %>
  </head>
  <body>
    <header>
      <span><a href="<%= t('nyulibraries_errors.root_url') %>" target="_blank" aria-label="NYU Libraries homepage"><%= image_tag "https://cdn.library.nyu.edu/images/nyulibraries-logo.svg", alt: "NYU Libraries logo", width: "233", height: "30" %></a></span>
    </header>
    <nav>
      <%= render 'breadcrumbs' %>
    </nav>
    <main class="nyu-container">
      <div class="col-sm-12">
        <%= yield %>
      </div>
    </main>
  </body>
</html>
